{% extends 'base.html.twig' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Mode</th>
            <th scope="col">Personnage(s)</th>
            <th scope="col">Monstre(s)</th>
        </tr>
    </thead>
    <tbody>
        {% for combat in combats %}
        <tr id="">
            <td scope="col">{{ combat['id'] }}</td>
            <td scope="col">{{combat.mode}}</td>
            {% if combat['gagnants'] == 'personnages' %}
            <td scope="col" class="winner">{{ combat['personnage']|raw  }}</td>
            <td scope="col" class="loser">{{ combat['monstre']|raw}}</td>
            {% else %}
            <td scope="col" class="loser">{{ combat['personnage']|raw  }}</td>
            <td scope="col" class="winner">{{ combat['monstre']|raw  }}</td>
            {% endif %}
            <td scope="col" style="padding-left: 0; padding-right: 0;">
                <a class="btn btn-primary" href="{{ path_for('combat', { 'id' : combat['id']}) }}">
                    <i class="fas fa-eye"></i> More
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
