<div id="card-{{ entite.id }}" class="card {% block type %}{% endblock %}">
    <img class="card-img-top" src="{{ get_photo(entite.photo, entite.defaultPhoto()) }}" alt="{{ entite.nom }} {{ entite.prenom }}">
    <div class="card-body">
        <h5 class="card-title" style="{% block style %}{% endblock %}">
        {% block cardTitle %}
            <div>
                {{ entite.nom }} {{ entite.prenom }}
            </div>
        {% endblock %}
        </h5>
        {% block cardText %}{% endblock %}
    </div>
</div>

