<div class="stat-group">
    <p class="card-text"><i class="ra ra-two-hearts"></i> {{ entite.pointVie}}</p>
    <p class="card-text"><i class="ra ra-sword"></i> {{ entite.pointAtt }}</p>
    <p class="card-text"><i class="ra ra-shield"></i> {{ entite.pointDef }}</p>
    <p class="card-text"><i class="ra ra-player"></i>{{ entite.taille }}</p>
    <p class="card-text"><i class="ra ra-feather-wing"></i> {{ entite.pointAgi }}</p>
    <p class="card-text"><i class="fas fa-weight-hanging"></i> {{ entite.poids }}</p>
</div>
