{% for entite in entites %}
    <tr>
        <td> <img src="/img/{{ entite.photo }}"</td>
        <td>{{ entite.nom }}</td>
        <td>{{ entite.prenom }}</td>
        <td>{{ entite.type }}</td>
        <td>{{ entite.taille }}</td>
        <td>{{ entite.pointVie }}</td>
        <td>{{ entite.pointAtt }}</td>
        <td>{{ entite.pointDef }}</td>
        <td>{{ entite.pointAgi }}</td>
    </tr>
<br>
{% endfor %}