{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th>Photo</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Taille</th>
            <th>Poids</th>
            <th>PV</th>
            <th>ATT</th>
            <th>DEF</th>
            <th>AGI</th>
        </tr>
    {% for entite in entites %}
        <tr>
            <td> <img src="/img/{{ entite.photo }}" alt="{{ entite.prenom }}"></td>
            <td>{{ entite.nom }}</td>
            <td>{{ entite.prenom }}</td>
            <td>{{ entite.type }}</td>
            <td>{{ entite.taille }}</td>
            <td>{{ entite.poids }}</td>
            <td>{{ entite.pointVie }}</td>
            <td>{{ entite.pointAtt }}</td>
            <td>{{ entite.pointDef }}</td>
            <td>{{ entite.pointAgi }}</td>
            <td> <a href ="{{ path_for('execModifEntite', {id: entite.id}) }}" >Modifier</a> </td>
            <td> <a href ="{{ path_for('execSupprEntite', {id: entite.id}) }}" >Suprimer</a> </td>
        </tr>
    {% endfor %}
    </table>
    <a href ="{{ path_for('formCreerEntite') }}" >Creer</a>

{% endblock %}
