{% extends 'base.html.twig' %}


{% block content %}
   <h1 id="titre">Vainqueur</h1>
   <div class="row-deck">
      <div id="vainqueur" style="display: flex; justify-content: center">
         <div class="card">
            <img class="card-img-top" src="{{ get_photo(combat.vainqueurs[0].entite.photo, combat.vainqueurs[0].entite.defaultPhoto()) }}" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">
                  <div>
                     {{ combat.vainqueurs[0].entite.nom }} {{ combat.vainqueurs[0].entite.prenom }}
                  </div>
               </h5>
               <div class="stat-group">
                  <p class="card-text"><i class="ra ra-player"></i>{{ combat.vainqueurs[0].entite.taille }}</p>
                  <p class="card-text"><i class="ra ra-two-hearts"></i> {{ combat.vainqueurs[0].entite.pointVie }}</p>
                  <p class="card-text"><i class="ra ra-sword"></i> {{ combat.vainqueurs[0].entite.pointAtt }}</p>
                  <p class="card-text"><i class="ra ra-shield"></i> {{ combat.vainqueurs[0].entite.pointDef }}</p>
                  <p class="card-text"><i class="ra ra-feather-wing"></i> {{ combat.vainqueurs[0].entite.pointAgi  }}</p>
               </div>
            </div>
         </div>
         {% include 'fin_game_stat_vainqeur.html.twig' %}

      </div>
      <div style="display: flex; justify-content: center;">
         <button id="stat_perdant" class="btn btn-primary">Afficher les stats du perdant </button>
      </div>


      <div id="perdant" style="display: flex; justify-content: center" >
         <div class="card">
            <img class="card-img-top" src="{{ get_photo(combat.perdants[0].entite.photo, combat.perdants[0].entite.defaultPhoto()) }}" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">
                  <div>
                     {{ combat.perdants[0].entite.nom }} {{ combat.perdants[0].entite.prenom }}
                  </div>
               </h5>
               <div class="stat-group">
                  <p class="card-text"><i class="ra ra-player"></i>{{ combat.perdants[0].entite.taille }}</p>
                  <p class="card-text"><i class="ra ra-two-hearts"></i> {{ combat.perdants[0].entite.pointVie }}</p>
                  <p class="card-text"><i class="ra ra-sword"></i> {{ combat.perdants[0].entite.pointAtt }}</p>
                  <p class="card-text"><i class="ra ra-shield"></i> {{ combat.perdants[0].entite.pointDef }}</p>
                  <p class="card-text"><i class="ra ra-feather-wing"></i> {{ combat.perdants[0].entite.pointAgi  }}</p>
               </div>
            </div>
         </div>
             {% include 'fin_game_stat_perdant.html.twig' %}
      </div>
      <div style="display: flex; justify-content: center;">
         <button id="stat_gagant" class="btn btn-primary">Afficher les stats du gagnant </button>
      </div>
   </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function(){
   $("#vainqueur").show();
   $("#perdant").hide();

   $("#stat").click(function () {
      $("#vainqueur").hide();
      $("#perdant").show();
   })
})
</script>

{% endblock %}
