{% extends 'base.html.twig' %}

{% block content %}
    <h3>Personnages</h3>
    <div class="card-deck">
        {% for personnage in personnages %}
        <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ personnage.nom }} {{ personnage.prenom }}</h5>
                <p class="card-text"><i class="ra ra-player"></i>{{ personnage.taille }}m</p>
                <p class="card-text"><i class="ra ra-two-hearts"></i> {{ personnage.pointVie }}</p>
                <p class="card-text"><i class="ra ra-sword"></i> {{ personnage.pointAtt }}</p>
                <p class="card-text"><i class="ra ra-shield"></i> {{ personnage.pointDef }}</p>
                <p class="card-text"><i class="ra ra-feather-wing"></i> {{ personnage.pointAgi  }}</p>
                <p class="card-text"><small class="text-muted">Créé le {{ personnage.created_at }}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
