<div id="card-{{ participant.entite.id }}" class="card combat">
    <img class="card-img-top" src="{{ get_photo(participant.entite.photo, participant.entite.defaultPhoto()) }}" alt="{{ entite.nom }} {{ entite.prenom }}">
    <div class="card-body">
        <h5 class="card-title" style="display: flex;justify-content: center">
            <span>{{ participant.entite.nom }} {{ participant.entite.prenom }}</span>
        </h5>
            {% include 'statGroup.html.twig' %}
    </div>
</div>

