{% extends 'card.html.twig' %}
{% block type %}battle{% endblock %}
{% block cardTitle %}
    {{ parent() }}
{% endblock %}
{% block cardText %}
    <div class="stat-group">
        <p class="card-text"><i class="ra ra-player"></i>{{ participant.entite.taille }}</p>
        <p class="card-text"><i class="ra ra-two-hearts"></i> {{ participant.pointVie}}</p>
        <p class="card-text"><i class="ra ra-sword"></i> {{ participant.entite.pointAtt }}</p>
        <p class="card-text"><i class="ra ra-shield"></i> {{ participant.entite.pointDef }}</p>
        <p class="card-text"><i class="ra ra-feather-wing"></i> {{ participant.entite.pointAgi  }}</p>
    </div>
{% endblock %}
