{% extends 'base.html.twig' %}

{% block content%}

<h2>Combat n°{{ combat.id }}</h2>

<p id="gameMessage">{{ message }}</p>

<div class="battlefield">
    <div id="card-{{ participant1.entite.id }}" class="card combat">
        <div class="card-img-top img-container-300"> 
            <img class="card-img-top" src="{{ get_photo(participant1.entite.photo, participant1.entite.defaultPhoto()) }}" alt="{{ entite.nom }} {{ entite.prenom }}">
        </div>
        <div class="card-body">
            <h5 class="card-title" style="display: flex;justify-content: center">
                <span>{{ participant1.entite.nom }} {{ participant1.entite.prenom }}</span>
            </h5>
            <div class="stat-group">
                <p class="card-text"><i class="ra ra-two-hearts"></i> <span id="participant1PV" data-hp-max= {{participant1.entite.pointVie}}>{{ participant1.pointVie}}</span></p>
                <p class="card-text"><i class="ra ra-sword"></i> {{ participant1.entite.pointAtt }}</p>
                <p class="card-text"><i class="ra ra-shield"></i> {{ participant1.entite.pointDef }}<span id="participant1Def"></span></p>
                <p class="card-text"><i class="ra ra-player"></i>{{ participant1.entite.taille }}</p>
                <p class="card-text"><i class="ra ra-feather-wing"></i> {{ participant1.entite.pointAgi }}</p>
                <p class="card-text"><i class="fas fa-weight-hanging"></i> {{ participant1.entite.poids }}</p>
            </div>
            <div class="progress">
                <div id="hp_bar_1" class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:{{participant1.pointVie}}%">
                <span class="sr-only">70% Complete</span>
            </div>
        </div> 
    </div>
</div>

<div class="vs">
    <p>VS</p>
</div>

<div id="card-{{ participant2.entite.id }}" class="card combat">
    <div class="card-img-top img-container-300">        
        <img class="card-img-top" src="{{ get_photo(participant2.entite.photo, participant2.entite.defaultPhoto()) }}" alt="{{ entite.nom }} {{ entite.prenom }}">
    </div>
    <div class="card-body">
        <h5 class="card-title" style="display: flex;justify-content: center">
            <span>{{ participant2.entite.nom }} {{ participant2.entite.prenom }}</span>
        </h5>
        <div class="stat-group">
            <p class="card-text"><i class="ra ra-two-hearts"></i> <span id="participant2PV" data-hp-max= {{participant2.entite.pointVie}}>{{ participant2.pointVie}}</span></p>
            <p class="card-text"><i class="ra ra-sword"></i> {{ participant2.entite.pointAtt }}</p>
            <p class="card-text"><i class="ra ra-shield"></i> {{ participant2.entite.pointDef }}</p>
            <p class="card-text"><i class="ra ra-player"></i>{{ participant2.entite.taille }}</p>
            <p class="card-text"><i class="ra ra-feather-wing"></i> {{ participant2.entite.pointAgi }}</p>
            <p class="card-text"><i class="fas fa-weight-hanging"></i> {{ participant2.entite.poids }}</p>
        </div>
        <div class="progress">
            <div id="hp_bar_2" class="progress-bar" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width:{{participant2.pointVie}}%">
            <span class="sr-only"></span>
        </div>
    </div> 
</div>
</div>

</div>
<div style="margin-bottom: 1rem;">
    <form id="playNextForm" action="{{path_for('jouerCombat', {id: combat.id})}}" style="display: none;">
        <div class="button-group">
            <input id="submitBtn" class="btn btn-primary" type="submit" value="Voir le prochain coup">      
        </div>          
    </form>
    <form id="chooseActionForm" action="{{path_for('jouerCombat', {id: combat.id})}}" style="display: none;">
        <div class="button-group">
            <input id="attaquerBtn" class="btn btn-primary" type="button" value="Attaquer">                
            <input id="defendreBtn" class="btn btn-primary" type="button" value="Défendre">              
        </div>  
    </form>
    <form id="startForm" action="{{path_for('commencerCombat', {id: combat.id})}}">
        <div class="button-group">
            <input id="submitBtn" class="btn btn-primary" type="submit" value="Commencer le combat">      
        </div>          
    </form>
</div>

{% endblock %}

{% block script %}
{{parent()}}
<script src="/js/combat.js"></script>
{% endblock %}
