{% extends 'base.html.twig' %}

{% block content%}

<h2>Combat n°{{ combat.id }}</h2>

<p>
    {{ message }}
</p>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    {{ participant1.entite.nom }}
                    {{ participant1.entite.prenom }}
                    <hr>
                </div>
                <img src="{{ get_photo(participant1.entite.photo, participant.entite.defaultPhoto()) }}" alt="">
            </div>
            <div class="card-body">
                <p>Rappel des stats :</p>
                <div class="row">
                    <div class="col-sm">
                        <p> type : {{ participant1.entite.type }}</p>
                        <p> taille : {{ participant1.entite.taille }} m</p>
                        <p> pointVieMax : {{ participant1.entite.pointVie }}</p>                                
                    </div>
                    <div class="col-sm">
                        <p> pointDef : {{ participant1.entite.pointDef }} </p>
                        <p> pointAtt : {{ participant1.entite.pointAtt }} </p>
                        <p> pointAgi : {{ participant1.entite.pointAgi }} </p>
                    </div>
                </div><div class="row">
                    <div class="col-sm">
                        <p> pointVie : {{ participant1.pointVie }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    {{ participant2.entite.nom }}
                    {{ participant2.entite.prenom }}
                    <hr>
                </div>
                <img src="{{ get_photo(participant2.entite.photo, participant2.entite.defaultPhoto()) }}" alt="">
            </div>
            <div class="card-body">
                <p>Rappel des stats :</p>
                <div class="row">
                    <div class="col-sm">
                        <p> type : {{ participant2.entite.type }}</p>
                        <p> taille : {{ participant2.entite.taille }} m</p>
                        <p> pointVieMax : {{ participant2.entite.pointVie }}</p>       
                    </div>
                    <div class="col-sm">
                        <p> pointDef : {{ participant2.entite.pointDef }} </p>
                        <p> pointAtt : {{ participant2.entite.pointAtt }} </p>
                        <p> pointAgi : {{ participant2.entite.pointAgi }} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p> pointVie : {{ participant2.pointVie }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <form action="{{path_for('jouerCombat', {id: combat.id})}}" method="post">
            {% if combat.termine %}
                <input style="width: 90%; margin-left: 5%;margin-right:5%;margin-top: 5%" class="btn btn-primary" type="submit" value="Voir le résultat">
            {% else %}
                <input style="width: 90%; margin-left: 5%;margin-right:5%;margin-top: 5%" class="btn btn-primary" type="submit" value="Jouer le prochain tour">                
            {% endif %}            
        </form>
    </div>
</div>

{% endblock %}
