<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 2vh">
    <a class="navbar-brand" href="/">Smash 2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{path_for('accueil')}}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% if est_connecte() %}
            <li class="nav-item">
                <a class="nav-link" href="{{path_for('listeEntites')}}">Entités</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path_for('listeAdmins')}}">Admins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path_for('formModifMdpAdmin')}}">Compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path_for('execDeconnexion')}}">Deconnexion</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path_for('formConnexion')}}">Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
