{%  extends 'base.html.twig' %}

{% block content %}

    <table>
        <thead>
        <tr>
            <th>Login</th>
            <th>Mdp</th>
            <th>status</th>
            <th>Opération</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins if admin.super == 0%}
                <td>{{ admin.login }}</td>
                <td>{{ admin.mdp }}</td>
                <td>{{ admin.super }}</td>
                <td>
                    <form action="/admin/supprimer" method="post">
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                        <input type="hidden" name="id" value="{{ admin.id }}">
                    </form>
                </td>
                <td>
                    <form action="/admin/modifier/{{ admin.id }}" method="get">
                        <input type="submit" class="btn btn-success" value="Modifier">
                        <input type="hidden" name="id" value="{{ admin.id }}">
                    </form>
                </td>
            </tr>

        {% endfor %}


        </tbody>
    </table>


{% endblock %}
